
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* HEADER RESPONSIVO */

.responsive-header {
    background-color: #141414;
    display: none;
}


.button-header-r{
    text-align: right;
    color: #D2D2D2;
    font-size: 30px;
    padding: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.list-header{
    text-align: center;
    color: #D2D2D2;
    text-decoration: none;
    display: none;
}

.list-button-header{
    background-color: #202020;
    padding: 15px;
    
}

.list-button-header:hover{
    background-color: #2d2d2d;
    padding: 15px;
    cursor: pointer;
    
}

.a-responsive-h{
    text-decoration: none;
    color:#D2D2D2;
    font-size: 20px;
    padding-left: 40%;
    padding-right: 40%;
    transition: 100;
}

/* HEADER */

header{
    background-color: rgba(0, 0, 0, 0.403);
    backdrop-filter: blur(20px);
    background-size: cover;
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding: 20px;
}
.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left:14%;
    margin-right: 14%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-nav {
    text-decoration: none;
    color: #D2D2D2;
    padding: 10px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 20px;
    
}

.btn-nav:hover {
    transition: 500ms;
    border: #D4D4D4;
    border-style: solid;

}

/* BANNER */

.banner {
    background-image:url('img/background-galaxy.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 13%;
    padding-bottom: 13%;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h1-banner{
    /* margin-left: 14%;
    margin-right: 14%; */

    /* ScrollReveal */
    visibility: hidden;

    color: #D4D4D4;
    font-size: 48px;
}

/* CONTENT-1 */

.content-1 {
    background-color: black;
    
}

.content {
    background-color: #151515;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    color: rgb(255, 255, 255);

}

.prazer {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    
}

.img-perfil {
    width: 150px;
    border-radius: 150px;
}

.h1-prazer {
    font-weight: 500;
    margin-left: 15px;
    font-weight: 600;
    color: #f1f1f1;
}

.p1-prazer {
    color: #ababab;
    font-size: 22px;
}

.sobre-mim{
    margin-left: 4%;
    margin-right: 4%;
    padding: 10px;
}

/* ------- CHAMADA PRA AÇÃO ------- */

.content2 {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.content2-btn-display {
    /* ScrollReveal */
    visibility: hidden;

    text-align: right;

}

.h1-content2 {
    font-size: 38px;
    font-weight: 500;
    color: #f1f1f1;
    text-align: center;

}

.btn-content2 {
}

.h1-btn-content2 {
    margin-top: 15px;
    font-weight: 500;
    background: linear-gradient(90deg, rgba(0,15,57,1) 0%, rgba(0,146,255,1) 100%);

    padding: 10px;
    text-align: center;
    border-radius: 50px;
    transition: 500ms;
    text-decoration: none;
    color: #D2D2D2;
}

.h1-btn-content2:hover {
    background: linear-gradient(90deg, rgba(0,15,57,1) 0%, rgba(0,146,255,1) 100%);

    transition: 500ms;
}

.btn-a {
    text-decoration: none;
}
    

.img-lottie {
    /* ScrollReveal */
    visibility: hidden;
    
}
/* ----------- PROJETOS ------------- */

.projetos{
    
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
}

.content-projetos{
    margin-left: 2%;
    margin-right: 2%;
    color:#D4D4D4

}

.banner-projetos{
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;
}

.projetos-view{
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.projetos-view::-webkit-scrollbar{
    background-color:#00092d;
    width: 20px;
    border: solid 1px black;
    border-radius: 20px;
}

.projetos-view::-webkit-scrollbar-thumb{
    background-color:#001771;
    border: solid 1px black;
    border-radius: 20px;
}

.box-img-project{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-project{
    width: 400px;
    margin-bottom: 20px;
}

.h1-projetos{
    font-size: 42px;
}

.p-projetos {
    font-size: 21px;
}

.boxp {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, #292929, #424242);
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -2px 3px 5px #0000002b;
    margin-bottom: 20px;
    text-decoration: none;
    color: #D2D2D2;
    
}

.boxp:hover{
    background-image: linear-gradient(to right, #1e1e1e, #2e2e2ec1);
    background-color: #1862f6;
    transition: 500ms;
}

.titulo-do-projeto{
    margin-bottom: 10px;
    color: #D2D2D2;
}

.descricao-do-projeto{
    color: #D2D2D2;
}

.a-projeto{
    text-decoration: none;
}

/* ----------- CONTENT-CONTATO ------------- */

.content-contato {
    margin-left: 14%;
    margin-right: 14%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 28px;
}

.display-contato {
    color: #D2D2D2;
    font-weight: 800;
    text-align: center;

}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
   

}

/* RESPONSIVIDADE TELA CELULAR (large screen) */


@media screen and (max-width: 1000px) {
    /* -------- Header Responsivo (smartphone) */
    
    .responsive-header {
        display: block;
    }

    /* -------- Header (smartphone) */
    header{
        display: none;
    }

    /* -------- Banner (smartphone) */
    
    .h1-banner{

        margin-left: 5%;
        margin-right: 5%;
    
        /* ScrollReveal */
        visibility: hidden;
    
        color: #D4D4D4;
        font-size: 32px;
    }

    /* -------- Content-1 (smartphone) */

    .content {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 20px;
    
    }

    .img-perfil{
        width: 25%;
    }

    .prazer {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 4%;
        margin-right: 4%;
        
    }

    .h1-prazer {
        font-weight: 500;
        margin-left: 15px;
        font-weight: 600;
        font-size: 26px;
    }
    
    .p1-prazer {
        font-size: 20px;
        
    }
    
    /* -------- Chamada pra ação (smartphone) */
    
    .content2 {
        margin-left: 4%;
        margin-right: 4%;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-around;
    }
    
    .content2-btn-display {
        /* ScrollReveal */
        visibility: hidden;
        text-align: center;
    
    }
    
    .h1-content2 {
        font-size: 38px;
        font-weight: 500;
    
    }
    
    .btn-content2 {
    }
    
    .h1-btn-content2 {
        margin-top: 15px;
        font-weight: 500;
        background-color: #4677D7;
        padding: 10px;
        text-align: center;
        border-radius: 50px;
        transition: 500ms;
        text-decoration: none;
        color: #D2D2D2;
    }
    
    .h1-btn-content2:hover {
        background-color: #1862f6;
        transition: 500ms;
    }
    
    .btn-a {
        text-decoration: none;
    }
        
    
    .img-lottie {
        /* ScrollReveal */
        visibility: hidden;
        display: none;
        
        
    }

    /* -------- Projetos (smartphone) */

    
    .content-projetos{
        margin-left: 4%;
        margin-right: 4%;
        color:#D4D4D4
    
    }
    
    .banner-projetos{
        margin-bottom: 40px;
        justify-content: center;
        text-align: center;
    }
    
    .h1-projetos{
        font-size: 32px;
    }
    
    .p-projetos {
        font-size: 21px;
    }
    
    
    .titulo-do-projeto{
        margin-bottom: 10px;
        color: #D2D2D2;
    }
    
    .descricao-do-projeto{
        color: #D2D2D2;
    }
    
    .a-projeto{
        text-decoration: none;
    }
     .img-project{
            width: 200px;
        }

    /* -------- Redes sociais (smartphone) */

    .content-contato {
        margin-left: 14%;
        margin-right: 14%;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 28px;
    }
    
    .display-contato {
        color: #D2D2D2;
        font-weight: 800;
        text-align: center;
    
    }
    
    .social-media {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
       
    
    }
    
    .h1-contato{
        font-size: 32px;
    }

    .img-rede-social {
        width: 100px;
    }
}

/* ---------- SMARTPHONE SMALL --------- */

@media screen and (max-width: 450px) {

        /* -------- Header (smartphone small) */
        header{
            display: none;
        }
    
        /* -------- Banner (smartphone small) */
        
        .h1-banner{
    
            margin-left: 5%;
            margin-right: 5%;
        
            /* ScrollReveal */
            visibility: hidden;
        
            color: #D4D4D4;
            font-size: 30px;
        }
    
        /* -------- Content-1 (smartphone small) */
    
        .content {

            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 20px;
        
        }
    
        .prazer {
            display: flex;
            align-items: center;
            padding: 10px;
            margin-left: 4%;
            margin-right: 4%;
            
        }
    
        .h1-prazer {
            font-weight: 500;
            margin-left: 15px;
            font-weight: 600;

            font-size: 22px;
        }
        
        .p1-prazer {
            font-size: 16px;
            
        }
        
        /* -------- Chamada pra ação (smartphone small) */
        
        .content2 {
            margin-left: 4%;
            margin-right: 4%;
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            justify-content: space-around;
        }
        
        .content2-btn-display {
            /* ScrollReveal */
            visibility: hidden;
            text-align: center;
        
        }
        
        .h1-content2 {
            font-size: 30px;
            font-weight: 500;

        
        }
        
        .btn-content2 {
        }
        
        .h1-btn-content2 {
            margin-top: 15px;
            font-weight: 500;
            background-color: #4677D7;
            padding: 10px;
            text-align: center;
            border-radius: 50px;
            transition: 500ms;
            text-decoration: none;
        }
        
        .h1-btn-content2:hover {
            background-color: #1862f6;
            transition: 500ms;
        }
        
        .btn-a {
            text-decoration: none;
        }
            
        
        .img-lottie {
            /* ScrollReveal */
            visibility: hidden;
            display: none;
            
            
        }
    
        /* -------- Projetos (smartphone small) */
        
        .content-projetos{
            margin-left: 2%;
            margin-right: 2%;
            color:#D4D4D4
        
        }
        
        .banner-projetos{
            margin-bottom: 40px;
            justify-content: center;
            text-align: center;
        }
        
        .h1-projetos{
            font-size: 28px;
        }
        
        .p-projetos {
            font-size: 18px;
        }

        .img-project{
            width: 200px;
        }
        
        
        .titulo-do-projeto{
            margin-bottom: 10px;
            color: #D2D2D2;
        }
        
        .descricao-do-projeto{
            color: #D2D2D2;
        }
        
        .a-projeto{
            text-decoration: none;
        }
    
        /* -------- Redes sociais (smartphone small) */
    
        .content-contato {
            margin-left: 14%;
            margin-right: 14%;
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 28px;
        }
        
        .display-contato {
            color: #D2D2D2;
            font-weight: 800;
            text-align: center;
        
        }
        
        .social-media {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 40px;
           
        
        }
        
        .h1-contato{
            font-size: 24px;
        }
    
        .img-rede-social {
            width: 70px;
        }
}
