@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    background-color: black;
}
.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left:14%;
    margin-right: 14%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-nav {
    text-decoration: none;
    color: #D2D2D2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 20px;
    
}

.btn-nav:hover {
    transition: 500ms;
    border: #D4D4D4;
    border-style: solid;

}

/* BANNER */

.banner {
    background-image:url('img/banner.png');
    padding-top: 13%;
    padding-bottom: 13%;
    align-items: center;
}
.h1-banner{
    margin-left: 14%;
    margin-right: 14%;

    /* ScrollReveal */
    visibility: hidden;

    color: #D4D4D4;
    font-family: 'Readex Pro', sans-serif;
    font-size: 48px;
}

/* CONTENT-1 */

.content-1 {
    background-color: black;
    
}

.content {
    background-color: #D2D2D2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 14%;
    margin-right: 14%;
    border-radius: 20px;

}

.prazer {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    
}

.img-perfil {
    width: 100px;
}

.h1-prazer {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    margin-left: 15px;
    font-weight: 600;
    color: #2C2C2C;
}

.p1-prazer {
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    font-size: 22px;
}

.sobre-mim{
    margin-left: 4%;
    margin-right: 4%;
    padding: 10px;
}

/* ------- CHAMADA PRA AÇÃO ------- */

.content2 {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
}

.content2-btn-display {
    /* ScrollReveal */
    visibility: hidden;

    text-align: right;

}

.h1-content2 {
    font-family: 'Readex Pro', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #2C2C2C;

}

.btn-content2 {
}

.h1-btn-content2 {
    margin-top: 15px;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    background-color: #4677D7;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    transition: 500ms;
    text-decoration: none;
    color: #D2D2D2;
}

.h1-btn-content2:hover {
    background-color: #1862f6;
    transition: 500ms;
}

.btn-a {
    text-decoration: none;
}
    

.img-lottie {
    /* ScrollReveal */
    visibility: hidden;
    
}
/* ----------- PROJETOS ------------- */

.projetos{
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, #000000, #090909);
    border-radius: 40px;

}

.content-projetos{
    margin-left: 4%;
    margin-right: 4%;
    font-family: Arial, Helvetica, sans-serif;
    color:#D4D4D4

}

.banner-projetos{
    margin-bottom: 40px;
    font-family: 'Readex Pro', sans-serif;
    justify-content: center;
    text-align: center;
}

.h1-projetos{
    font-size: 42px;
}

.p-projetos {
    font-size: 21px;
}

.boxp {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, #141414, #252525);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -2px 3px 5px #0000002b;
    margin-bottom: 20px;
    text-decoration: none;
    color: #D2D2D2;
    
}

.boxp:hover{
    background-image: linear-gradient(to right, #1e1e1e, #2e2e2e);
}

.titulo-do-projeto{
    margin-bottom: 10px;
    color: #D2D2D2;
}

.descricao-do-projeto{
    color: #D2D2D2;
}

.a-projeto{
    text-decoration: none;
}

/* ----------- CONTENT-CONTATO ------------- */

.content-contato {
    margin-left: 14%;
    margin-right: 14%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 28px;
}

.display-contato {
    color: #D2D2D2;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 800;
    text-align: center;

}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
   

}

